body{
    margin: 20px;
    background-color: #253826;
}

h1 {
    font-size: 60px;
    padding-bottom:5px;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: rgb(127, 151, 106);
    width: 100%;
}

header p, footer p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:rgb(240, 229, 213);
    text-align: center;
}

footer a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:#364438;
    text-align: center;
    display:block;
}

/* this is for overlays */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    display: block;
    opacity: 1;
}

#overlay{
    position:absolute;
    top: 300px;
    left: 30%;
    width:450px;
    padding: 20px;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    border-radius: 10px;
    background-color:rgba(252, 242, 227, 0.8);

}

#box{
    display: flex;

}

/* overlay styling for pic and fonts*/
#overlay img{
    display: block;
    max-width: 300px;
    border-radius: 10px;
    width:50%;
}

#overlay h2{
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

#overlay p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width:50%;
    line-height: 2em;

}

/* this is for all the different dessert targets*/
#container {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container div {
    position: absolute;
    width: 150px;
    height: 150px;
}

#container img {
    display: block;
    position: absolute;
    transition: all 3s ease;
}

#suman {
    left: 40%;
    top: 20%;
}

#buko {
    right: 20%;
    top: 15%;
}

#puto{
    left: 15%;
    top: 50%;
}

#turon {
    top: 70%;
    right: 20%;
}

#taho {
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}
/* set to clear the overlays */
#corner {
    top: 0;
    left: 0;
}

.start, .corner {
    width: 1000px;
    left: 0;
    top: 0;
}

/* for knowing where to zoom into*/
.suman,
.buko,
.taho,
.puto,
.turon {
    width: 3000px;
}

.suman {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.buko {
    top: 0;
    left: -1800px;
}

.puto {
    bottom: -600px;
    left: -200px;
}

.turon {
    bottom: -500px;
    left: -1800px;
}

.taho {
    top: 50%;
    left: 50%;
    transform: translate(-45%, -70%);
}