body{
    background: linear-gradient(135deg, rgba(157,191,150,1) 23%, rgba(149,190,230,0.9846386119631901) 45%, rgba(49,24,124,1) 100%);
    margin: auto;
    background-size: 400% 400%;
    width: 100%;
    position: relative;
    animation: animate 10s ease-in-out infinite;
}
main{
    max-width: 1200px;
}
#border {
    width: 1100px;
    height: 250px;
}

#plants {
    margin:auto;
    width: 50%;
}

#potions {
    margin:auto;
    width: 45%;
}

h1 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size:35px;
    text-align: center;
    padding-top: 5px;
    margin:5px;
}

header h2{
    font-family: Courier Prime, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    margin:5px;
}

h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size:14px;
    margin: 0px;
    padding: 0px;
    color:#3B2A1B;
}

main{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

section{
    margin: 10px;
    padding:10px;
    background-color: #EFE7D3;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #bda78d;
}

ul{
    list-style-type: none; 
    margin: 0px;
    padding: 10px; 
}

ul li a {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    color:#271351;
    transition: font 500ms ease-in-out, color 500ms ease;
}

ul li a:hover{
    font-size: 15px;
    color:darkolivegreen;
}

footer {
    font-family:Courier Prime, sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

footer a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

#plants:hover {
    animation: zoom 2s ease-in;
 } 
 
@keyframes zoom {
0% {
    transform: scale(1);
}
50% {
    transform: scale(.5);
}
75% {
    transform: scale(1);
}
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media only screen and (min-width: 700px){
    main{
        display: flex;
        justify-content: center;
        margin:15px;
    }
    h1 {
        text-align: left;
        font-size: 45px;
        color:#3B2A1B;
    }
    header h2 {
        text-align: left;
        font-size:18px;
    }

    header {
        margin:10px;
        display: flex;
    }

    #banner{
        max-height: 250px;
        padding:20px;
        width: 50%;
    }
    h2 {
        font-size: 20px;
    }

    ul li a {
        font-size: 15px;
    }  
    #plants {
        margin:10px;
        width: 50%;
    }
    #potions{
        width: 30%;
    }
}

@media only screen and (min-width: 1000px){
    body{
        max-width: 1200px;
    }
    main {
        max-height: 750px;
        padding:20px;
    }

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    header {
        max-height: 250px;
    }
    ul li a {
        font-size: 18px;
    }  

    ul li a:hover{
        font-size: 22px;
        color:darkolivegreen;
    }

    #plant {
        max-width: 200px;
    }

    #potion {
        max-width: 200px;
     }
    
    footer {
        font-size: 15px;
    }
}