body{
    background-image: url('images/cafebg_y.png');
    margin: 20px;
}

form{
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    margin-right: 10px;
    height: 500px;
    background-color: rgb(243, 236, 204);
    padding: 10px;
}

fieldset{
    border: none;
    padding: 0px;
}
fieldset label, fieldset input{
    display: inline;
}

fieldset label{
    margin-bottom: 20px;
}

form p{
    color:#796757;
}

label{
    color:#796757;
}

input, label {
    display:block;
}

input[type=text] {
    border-radius: 5px;
    border-style:none;
    color:rgb(60, 42, 15);
    padding:5px;
}
input{
    margin-bottom: 1em;
}
header{
    display: flex;
    flex-direction: row;
}


h1 {
    font-size: 60px;
    padding-top:30px;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Righteous', cursive;
    color: #796757;
    width: 60%;
}

#honey{
    width:40%;
	max-width: 100%;
	height: auto;
    margin: 0;
    padding: 0;
    animation: wiggle 3s infinite;
}

.send-lib, #reset {
    background-color: #364438;
    border-color: #364438;
    border-style: solid;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#random{ 
    border-color:#364438;
    border-style:solid;
    background-color: rgb(243, 236, 204);
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    color: #364438;
    padding: 15px 30px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.send-lib{
    margin-left: 125px;
}
#reset{
   margin-left:550px;
   margin-top: 0;
}

#dessert{
    border-color:#796757;
    color:#364438;
}
#bear img{
    display: block;
    max-width:80%;
    height: auto;
}


.hidden {
    visibility: hidden;
    opacity: 0;
 }
 
 .showing {
    visibility: visible;
    opacity: 1;
 }

 #overlay{
    position: absolute;
    background-color: rgb(243, 236, 204); ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 240vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay section{
    background-color: rgb(245, 241, 220);
    color: #364438;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 35%;
    left:35%;
    transform: translate(-35%,-35%);
}

/*madlib comic stlying*/
#container{
    margin-left:100px;
    margin-right:100px;
}

#overlay article p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

#overlay h2{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin: 25px;
    color: #796757;
}
article{
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color:rgb(60, 42, 15);
}

.comic, #dessert_img {
    display: block;
    width:300px;
    text-align: center;
}

footer p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:rgb(60, 42, 15);
    text-align: center;
}

footer a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:#364438;
    text-align: center;
    display:block;
}

/* Greyscale */
#bw {
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

#bw:hover {
    filter: none;
 }

/*FOCUS*/
#focus {
    transition: all 1s ease;
  }
   
  #focus:hover {
    border-radius: 50%;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-20deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    40%{
      transform: rotate(0);
    }
  }
 
@media only screen and (min-width: 1000px){
    body{
        max-width: 1200px;
        margin-left:90px;
    }
    main {
        display: flex;
        max-height: 750px;
    }

    h1 {
        font-size: 80px;
        padding-top:40px;
    }

    header {
        max-height: 170px;
    }
    /* this is for making all the boxes for comic*/
    #container{
       display: flex;
       flex-direction: column;
    }

    .box{
        display: flex;
        margin-left: 50px;
    }

    .pannel{
        display: block;
        width: 445px;
        height: 400px;
    }

    .comic, #dessert_img {
        width:100%;
    }

    #bear{
        max-width: 100%;
        height: auto;
        margin-left: 0;
    }

    #honey{ 
        position: relative; 
        top: -30px; 
        width:230px;
    }

    #overlay article {
        max-width: 1000px;
    }

    #overlay h2{
        font-family: 'Righteous', cursive;
        font-size: 80px;
        text-align: center;
        color: #796757;
    }

    /* this is for the text boxes*/
    article#madlib1, article#madlib2,  article#madlib3,
    article#madlib4, article#madlib5,  article#madlib6{
        background-color: #3C2F24;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        line-height: 1.5em;
        height: 80px;
        color:#FFFFFF;
        margin-top: 0;
        position: relative;
        top:-70px;

    }

    footer p{
        text-align: left;
        margin-left: 90px;
    }

}