body {
    font-family: 'Press Start 2P', cursive;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    background-image: url("images/background.gif");
    text-align: center;
    border-radius: 10px;
}

#container{
   display: flex;
}

h1 {
    margin:20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
}

p {
    font-family: 'Sono', sans-serif;
}

img{
    display: block;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#moon {
    width: 120%;
    max-width:300px;
}
#star {
    width: 120%;
    max-width:300px;
}


img.move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

button { 
    font-family: 'Sono', sans-serif;
    padding: 10px;
}

div {
    padding: 20px;
}


#gamecontrol, #score,#game,#actions{
    background-color: rgba(174, 176, 200, 0.8);
}

button{
    border-radius: 10px;
    padding: 20px;
    background-color: cornsilk;
}

#gamecontrol {
    width: 80%;
    height: 180px;

}
#main-box {
    width: 100%;
    padding:20px;
}

