body {
    font-family: 'Press Start 2P', cursive;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    background-image: url("images/background.gif");
    text-align: center;
    border-radius: 10px;
}

#container{
   display: flex;
}

h1 {
    margin:10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
    color:rgb(251, 249, 242);
}

p {
    font-family: 'Sono', sans-serif;
}

img{
    display: block;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#moon,#star{
    width: 120%;
    max-width:500px;
}

#confetti {
    max-width:400px;
}


img.move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

button { 
    font-family: 'Sono', sans-serif;
    padding: 10px;
}

div {
    padding: 20px;
}



#gamecontrol, #score1,#score2,#game,#actions{
    background-color: rgba(174, 176, 200, 0.8);
}

button{
    border-radius: 10px;
    padding: 15px;
    background-color: cornsilk;
}
#game p{
    text-align: left;
}

#score1.showing p, #score2.showing p {
    font-size: 40px;
    margin: 0;
}

#gamecontrol {
    width: 160px;
    height: 140px;

}
#main-box {
    width: 100%;
    padding:20px;
    margin: 0;
}

#dice{
    display: flex;
}

/* this is for score and actions */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    display: block;
    opacity: 1;
}

